{% extends 'base.html' %}

{% block title %}
    Account List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Account List</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in user_accounts %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.receipts.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
{% comment %} 

<td>{{ account.receipts.count }}</td>

In this example, it's pulling the current user's account's ForeignKey
to return the number of receipts that is associated with the
current user's Account (bank) model!

{% endcomment %}
