{% extends 'base.html' %}

{% block title %}
    Category List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Category List</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% comment %}
                    For the current user: This loop through each of their user_categories.
                    Now you can grab any info that is in that Model, including
                    the ones in the ForeignKey.

                    Refer to user_categories in views.py
                    {% endcomment %}
                    {% for category in user_categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
