{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:"m/d/y" }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
{% comment %} Vendor: Rows of the vendor name of the receipt {% endcomment %}
{% comment %} Total: total value from the receipt bc we dont yet have tasks {% endcomment %}
{% comment %} Tax: tax value of the receipt {% endcomment %}
{% comment %} Date: the date value formatted as mm/dd/yy {% endcomment %}
{% comment %} Category: name of the category for the receipt {% endcomment %}
{% comment %} Account: name of the account for the receipt {% endcomment %}
